/* google font */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.yellowtail {
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
}
body{
background-color: #E5E5E5;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.container {
    width: 1620px;
    height: 72px;
    margin: 0 auto;
}

.primary_btn a {
    font: 700 18px 'IBM Plex Sans', sans-serif;
    background-color: #FFF;
    color: #000;
    border-radius: 10px;
    padding: 20px 40px;
}

.primary_btn a:hover {
    background-color: #FF9600;
    color: #FFF;
    transition: 0.3s;
}

/* =======================
    Common CSS End 
=========================*/
.hero_section {
    width: 1920px;
    height: 750px;
    font-family: 'IBM Plex Sans', sans-serif;
    background: url(../images/header-no-sep.png) no-repeat;
    background-size: 1920px 750px;
    position: relative;
}

#main_menu {
    font-size: 18px;
}

.nav_row {
    display: flex;
    padding: 20px 0 0;
    align-items: center;
    justify-content: space-between;
}

.items_col ul {
    display: flex;
}

.items_col ul li {
    font-weight: 700;
    margin: 0 58px;
}

.items_col ul li a {
    color: #F6F0F0;
}

.items_col ul li a:hover {
    color: #FF9600;
    transition: 0.3s;
}

.banner_text {
    font-size: 72px;
    color: #FFF;
    text-align: center;
    padding: 148px 250px 48px;
}

.banner_btn {
    width: fit-content;
    margin: 0 auto;
}

.banner_btn a:first-child {
    margin-right: 56px;
}

/* Banner_Shape_Area CSS */
.banner_shape {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* Adventure section area */
#Adventure {
    height: 620px;
    margin-top: 105px;
    font-family: 'IBM Plex Sans', sans-serif;
    align-items: center;
}
.adv_col{
    display: flex;
    /* justify-content: space-between; */
}
.adv_text{
    width: 720px;
}
.text_color {
    color: #49C4F5;
    margin: 35px 0 5px;
}

.heading_text {
    font-size: 54px;
    color: #222222;
    margin-bottom: 15px;
}

.p_text {
    font-size: 18px;
    color: #000;
    margin-bottom: 36px;
}

.ellipse p{
    display: inline-block;
    margin: 0 0 15px 10px;
}

.ellipse_size {
    width: 30px;
    height: 30px;
}
.adv_btn{
    margin-top: 35px;
}
.adv_img{
    margin-left: 120px;
    display: flex;
}
.sports1{
    width: 300px;
    height: 620px;
    margin-right: 125px;
}
.sports2{
    width: 300px;
    height: 500px;
    margin: 70px 0 135px 50px;
}
#count_down{
    margin: 100px 0;
    font-family: 'IBM Plex Sans', sans-serif;
}
.count_col{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.count_col h2{
    font-size: 80px;
}
.count_col p{
    font-size: 18px;
}
.counting1{
    width: 350px;
    height: 150px;
    background-color: #FFF4E5;
}
.counting2{
    width: 350px;
    height: 150px;
    background-color: #E7FDE9;
}
.counting3{
    width: 350px;
    height: 150px;
    background-color: #F2F2FD;
}
.counting4{
    width: 350px;
    height: 150px;
    background-color: #FFF4E5;
}