/* google font */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.yellowtail {
    font-family: 'Yellowtail', cursive;
    font-weight: 400;
    font-size: 30px;
}

body {
    background-color: #E5E5E5;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

.primary_btn a {
    font: 700 18px 'IBM Plex Sans', sans-serif;
    background-color: #FFF;
    color: #000;
    border-radius: 10px;
    padding: 20px 40px;
}

.primary_btn a:hover {
    background-color: #FF9600;
    color: #FFF;
    transition: 0.3s;
}

/* =======================
    Common CSS End 
=========================*/
.hero_section {
    font-family: 'IBM Plex Sans', sans-serif;
    background: url(../images/header-no-sep.png) no-repeat;
    background-size: cover;
}

#main_menu {
    font-size: 18px;
}

.nav_row {
    display: flex;
    padding: 20px 0 0;
    align-items: center;
    justify-content: space-between;
}

.items_col ul {
    display: flex;
}

.items_col ul li {
    font-weight: 700;
    margin: 0 45px;
}

.items_col ul li a {
    color: #F6F0F0;
}

.items_col ul li a:hover {
    color: #FF9600;
    transition: 0.3s;
}

.banner_text h1 {
    font-size: 72px;
    color: #FFF;
    text-align: center;
    padding: 148px 250px 48px;
}

.banner_btn {
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 212px;
}

.banner_btn a:first-child {
    margin-right: 56px;
}

/* Banner_Shape_Area CSS */
.banner_shape {
    width: 100%;
}

/* Adventure section area */
#Adventure {
    margin-top: 105px;
    font-family: 'IBM Plex Sans', sans-serif;
    align-items: center;
}

.adv_col {
    display: flex;
}

.text_color {
    color: #49C4F5;
    margin: 35px 0 5px;
}

.adv_text {
    width: 50%;
}

.adv_text h2 {
    font-size: 54px;
    color: #222;
    margin-bottom: 15px;
}

.adv_text p {
    font-size: 18px;
    color: #000;
    margin-bottom: 36px;
}

.ellipse p {
    display: inline-block;
    margin: 0 0 15px 10px;
}

.ellipse_size {
    width: 30px;
    height: 30px;
}

.adv_btn {
    margin-top: 35px;
}

.adv_img {
    width: 50%;
    display: flex;
    align-items: center;
}

.sports1 {
    width: 300px;
    height: 620px;
    margin-right: 50px;
}

.sports2 {
    width: 295px;
    height: 510px;
}

#count_down {
    padding: 100px 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

.count_col {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.count_col h3 {
    font-size: 80px;
}

.count_col p {
    font-size: 18px;
}

.counting1 {
    width: 350px;
    height: 150px;
    background-color: #FFF4E5;
}

.counting2 {
    width: 350px;
    height: 150px;
    background-color: #E7FDE9;
}

.counting3 {
    width: 350px;
    height: 150px;
    background-color: #F2F2FD;
}

.counting4 {
    width: 350px;
    height: 150px;
    background-color: #FFF4E5;
}

#activities {
    background-color: #0C3543;
}

.activities_col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text_head h3 {
    color: #FF9600;
    margin-top: 100px;
}

.text_head h2 {
    color: #FFF;
    margin-bottom: 140px;
}

.text {
    color: #FFF;
    font: 400 18px 'IBM Plex Sans', sans-serif;
    width: 622px;
    height: 70px;
}

.biking_container {
    text-align: center;
}

.card1,
.card2 {
    display: flex;
    justify-content: space-between;
}

.card2 {
    padding: 50px 0;
}

.biking {
    width: 424px;
    height: 438px;
    background-color: #0F4152;
    color: #FFF;
    border-radius: 15px;
    overflow: hidden;
    margin-left: 24px;
}

.biking:nth-child(1) {
    margin-left: 0;
}

.biking h4 {
    font: 700 30px 'Inter', sans-serif;
    padding: 36px 0 15px;
}

.biking h4:hover {
    color: #FF9600;
}